<ion-view title="About Us" id="page7" style="background-color:#CBA5DD;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div class="">
            <img src="img/j3pAnm9Rdmw63TlON0rL_logo.png" width="52%" height="auto" style="display:block;">
        </div>
        <div class="spacer" style="width: 300px; height: 19px;"></div>
        <pre id="aboutUs-markdown2" style="color:#000000;text-align:justify;" class=" ">
            <code>The disc reservation app is created for the purpose of making the renting process easy and to track the availabilty of the said disc. This is proposed by the owner and president of this firm, Disc Rental, to give a fast and reliable service
                to the customers.</code>
        </pre>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <pre id="aboutUs-markdown3" style="color:#000000;" class=" ">
            <code>This was designed and created by the owner and president, John Doe. In the year 2012.</code>
        </pre>
    </ion-content>
</ion-view>